:root {
    --korkeus: 0px;
}

@keyframes haivytys {
    0% { transform: scale(1,1); height: var(--korkeus); opacity: 1;}
    100% { transform: scale(0,0); height:0; opacity: 0; } 
}

@keyframes zoomi {
    from { transform: scale(1);}
    to {transform: scale(1.4);}
}

.haipyy {
    animation: haivytys 0.5s ease 0s forwards;
}

.piilossa {
    display: none;
}

.noppa-alue {
    width: 50px;
    height: 50px;
    perspective: 500px;
    margin-left: auto;
    margin-right: auto;
}

.nopat {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s ease;
}

.noppa_sivu {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-shadow: -2px -2px 0px rgba(255, 255, 255, 0.3), 2px 2px 0px rgba(0, 0, 0, 0.8);
}

#sivu1 {
    transform: rotateY(0deg) translateZ(25px);
}

#sivu2 {
    transform: rotateY(90deg) translateZ(25px);
}

#sivu3 {
    transform: rotateX(-90deg) translateZ(25px);
}

#sivu4 {
    transform: rotateX(90deg) translateZ(25px);
}

#sivu5 {
    transform: rotateY(-90deg) translateZ(25px);
}

#sivu6 {
    transform: rotateY(180deg) translateZ(25px);
}

#voittoviesti {
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    width: 40%;
    display: none;
}

#voittajannimi {
    font-weight: bold;
    position: relative;
    display: inline-block;
    transition: all 2s;
}